body{
    margin: 0px;
    
}

.main{
    display: flex;
    
}

.image{
    width: 50vw;
    height: 35w;
}
.text{
    background-color: #E3CFCF;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
    height: 35vw;
}

.heading{
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 2.2vw;
    
    text-align: center;
}
.paragraph{
    font-family: 'Jura', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;

}
.learn-more-button{
    width: 12vw;
    height: 4vw;
    background:transparent;
    font-family: 'Jura', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    

}

.read-more{
    display: none;
    font-family: 'Jura', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    
    opacity: 0;
}


@media only screen and (max-width: 377px) {

    .main{
        display: block;
    }
    .image{

        content: url(mobiletask1.png);
        width: 100vw;
    }
    .heading{
        font-size: 6.36vw;
    }
    .paragraph, .read-more{
        font-size:4.24vw;
    }
    .text{
        height: 120vw;
    }
    .learn-more-button{
        width: 35vw;
        height: 15vw;
        font-size: 4vw;
    }

    
}
